

<div class='card'> 
    <h3>Enter your information</h3>
    <form method='POST' entype='multipart/form-data'>
        {% csrf_token %}
                 <div class="form-item">
                    <label for="">Name</label><br>
                    <input placeholder="Your name" type="text" name="name" required>
                </div>
                <div class="form-item">
                    <label for="">Phone Number</label><br>
                    <input type="text" name="number" placeholder="Your phone number" pattern="[0-9+]{14}" title="Use only BD country code">
                </div>
                {% comment %} {{ form.as_p }} {% endcomment %}
                <input type="submit" value="Submit">
    </form>
</div>
<div class="informatin">
    <div class="table">
   <div class="table-row table-first-row">
       <div class="table-col">Name</div>
       <div class="table-col">Phone Number</div>
       <div class="table-col">Action</div>
       <div class="table-col">Update</div>
       <div class="table-col">Details</div>
   </div>
   {% for data in dataset %}
   <div class="table-row">
       <div class="table-col">{{data.name}}</div>
       <div class="table-col">{{data.number}}</div>
       <div class="table-col"><a class="delete-button" href="delete/{{data.id}}">Delete</a></div>
       <div class='table-col'><a href="update/{{data.id}}">Update</a></div>
       <div class='table-col'><a href="detail/{{data.id}}">Details</a></div>
   </div>
   {%endfor %}
   </div>
       </div>