body{
    margin: 0;
    padding: 0;
    z-index: 1;
}
a{
  text-decoration: none;
}

/* navbar css start */
.navbar{
  background-color: #00B7E2;
  overflow: hidden;
}
.navbar h3{
  float: left;
  margin-left: 20px;
  color: white;
  font-weight: 600;
  font-size: 20px;
}
.nav-item{
  list-style: none;
  float: right;
  display: flex;
}
.navbar a{
  color: white;
  font-size: 17px;
  margin-right: 20px;

}
.nav a.icon{
  display: none;
}
/* navbar css end */
.card{
  padding:20px;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  margin:30px auto;
}
.card h3{
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 10px;
}

.form-detials{
   background-color: #463ACC;
   width: 30%;
   margin: 40px auto;
   border-radius: 5px;
   padding: 15px;

}
.form-detials h3,.informatin h3{
   color: #ffff;
   font-size: 20px;
   font-weight: bold;
}
.form-detials label{
    color: white;
    font-size: 17px;
    font-weight: 500;
}
.form-item{
    margin-bottom: 5px;
}
input{
    width:100%;
    padding:12px 20px;
    margin:8px 0;
    border-radius: 4px;
    background-color: #E5EEF4;
    box-sizing: border-box;
}
input[type=submit]{
    cursor: pointer;
    font-size: 17px;
    background-color: #9949F8;
    color: white;
    font-size: bold;

}
/* view page stale here */
/* table section */
.informatin{
    background-color: white;
    width: 50%;
    margin: 40px auto; 
   border-radius: 5px;
   padding: 10px;
   margin-bottom: 20px;
}


.table {
    width: auto;
    margin: 0 auto;
  }
  
  .table-row {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: #EFF0F0;
  }
  .table-first-row{
    background-color: #9949F8;
    color: white ;
  }
  
  .table-col {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border: none;
  }

  .user-detail{
    padding:20px;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin:20px auto;
    text-align: center;
  }
  .user-detail h3{
    color: #2E2E2E;
    font-size: 20px;
    font-weight: 600;
  }
  .user-detail .card-id{
    font-size: 17px;
    font-weight: 300;
  }
  .user-detail img {
    width: 150px;
  }
  .user-detail button{
    color: white;
    background-color: #9949F8;
    padding: 5px 30px;
    font-size: 17px;
    border-radius: 10px;
  }


  /* footer start hrer */
footer{
  background-color: #243E51;
  padding: 40px 20px;
  color: white;
  text-align: center;
}
footer,h3{
  font-size: 20px;
  font-weight: 600;

}
footer p{
  font-size: 15px;
}
/* footer end hrer */

  /* media queries */
  @media screen and (max-width:900px){
    .form-detials{
        width: 50%;
     
     }
      /* table css here */
  .table-col {
    padding: 5px;
    font-size: 14px;
  }
  card{
    width: 70%;
  }
  /* end table css */
}
@media screen and (max-width:500){
    .form-detials{
        width: 70%;
     
     }
    
}

@media screen and (max-width: 600px) {
  .card{
    width: 90%;
  }

  /* user css hrerk */
  .user-detail{
    width: 90%;
  }
  .informatin {
    background-color: white;
     width: 90%;
  }
  .user-detail img {
    width: 30%;
  }
  /* table css here */
  .table-col {
    padding: 5px;
    font-size: 14px;
  }
  /* end table css */

  .nav-item a{display:none;}
  .nav a.icon{
    margin-top: 25px;
    float: right;
    display: block;
  }
  

  .nav-item.responsive {
    display: block;
    position: absolute;
    left: 20;
    right: 30px;
    top: 8px;
}
  }
  .nav-item.responsive .icon {
    margin-top: 25px;
    position: absolute;
    right: 0;
    top: 0;
}
.nav-item.responsive a{
  float: none;
  display: block;
  text-align: left;

}
.nav{
  position: relative;
  z-index: 1;
}


@media screen and (max-width:300px){
  /* table css here */
  .table-col {
    padding: 5px;
    font-size: 10px;
  }
  /* end table css */
  
}