.user-detail{
        margin: 110px auto;
        width: 25%;
        /* height: 80vh; */
      
}
table{
        text-align: center;
}

.user-data{
        margin: 110px auto;
        height: 60vh;
 }
      
 @media screen and (max-width:600px) {
        .user-data{
                height: 40vh;
         }
        .uer-form{
          width: 90%;
        }
        /* .user-data{
                margin: 60px auto;
         } */
           
        .user-button,.delete-button{
               margin: 0;
               padding: 1px;
               font-size: 7px;
              }
        .user-detail img{
                width: 50%;
        }
        .user-detail h3{
                font-size: 10px;
        }
        .user-detail p{
                font-size: 10px;
        }
        
        
      }

      @media screen and (max-width:600px) {


        .table>:not(caption)>*>* {
                padding: 1px;
        }

        .uer-form{
          width: 90%;
        }
        .user-button,.delete-button{
               margin: 0;
               padding: 1px;
               font-size: 10px;
              }
        th{
                font-size: 10px;
        }
        .user-detail{
                width: 100%;
        }
        .user-detail img{
                width: 50%;
        }
        .user-detail h3{
                font-size: 17px;
        }
        .user-detail p{
                font-size: 10px;
        }
        
        
      }