body{
    margin: 0;
    padding: 0;
}
a{
  text-decoration: none;
}
.card{
  padding:20px;
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  margin:20px auto;
}
.card h3{
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 10px;
}

.form-detials{
   background-color: #463ACC;
   width: 30%;
   margin: 40px auto;
   border-radius: 5px;
   padding: 15px;

}
.form-detials h3,.informatin h3{
   color: #ffff;
   font-size: 20px;
   font-weight: bold;
}
.form-detials label{
    color: white;
    font-size: 17px;
    font-weight: 500;
}
.form-item{
    margin-bottom: 5px;
}
input{
    width:100%;
    padding:12px 20px;
    margin:8px 0;
    border-radius: 4px;
    background-color: #EFF0F0;
    box-sizing: border-box;
}
input[type=submit]{
    cursor: pointer;
    font-size: 17px;
    background-color: #9949F8;
    color: white;
    font-size: bold;

}
/* view page stale here */
/* table section */
.informatin{
    background-color: white;
    width: 50%;
    margin: 40px auto; 
   border-radius: 5px;
   padding: 10px;
   margin-bottom: 20px;
}


.table {
    width: auto;
    margin: 0 auto;
  }
  
  .table-row {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: #EFF0F0;
  }
  .table-first-row{
    background-color: #9949F8;
    color: white ;
  }
  
  .table-col {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border: none;
  }

  .user-detail{
    padding:20px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin:20px auto;
    text-align: center;
  }
  .user-detail h3{
    color: #2E2E2E;
    font-size: 20px;
    font-weight: 600;
  }
  .user-detail .card-id{
    font-size: 17px;
    font-weight: 300;
  }
  .user-detail img {
    width: 150px;
  }
  .user-detail button{
    color: white;
    background-color: #9949F8;
    padding: 5px 30px;
    font-size: 17px;
    border-radius: 10px;
  }


  /* media queries */
  @media screen and (max-width:780px){
    .form-detials{
        width: 50%;
     
     }
}
@media screen and (max-width:500){
    .form-detials{
        width: 70%;
     
     }
}