<!DOCTYPE html>
 {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>Heyper Helios</title>
</head>
<body>

<div class=''>


    <div class="informatin">
     <div class="table">
    <div class="table-row table-first-row">
        <div class="table-col">Name</div>
        <div class="table-col">Phone Number</div>
        <div class="table-col">Action</div>
        <div class="table-col">Update</div>
        <div class="table-col">Details</div>
    </div>
    
    {% for data in dataset %}
    <div class="table-row">
        <div class="table-col">{{data.name}}</div>
        <div class="table-col">{{data.number}}</div>
        <div class="table-col"><a class="delete-button" href="delete/{{data.id}}">Delete</a></div>
        <div class='table-col'><a href="update/{{data.id}}">Update</a></div>
        <div class='table-col'><a href="detail/{{data.id}}">Details</a></div>
    </div>
    {%endfor %}
    </div>
        </div>

</div>
</body>
</html>